body{ 
  font-size: 15px;
  }
h1 {
  font-size: 35px;
}
.title {
  font-size: 35px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 25px;
  font-style: italic;
  font-weight: 100;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 21px; 
}
h6 {
  font-size: 17px;
}
img {
   display: block;
    margin: auto;
} 
